body {
  background-image: url("pexels-pixabay-41949.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  color: black;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin: -5px 0px 25px 0px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2.5em;
}
h2 {
  margin-bottom: 0px;
  font-size: 2.2em;
  padding: 10px;
}
.container {
  width: 600px;
  background-color: rgba(245, 245, 245, 0.4);
  display: block;
  margin: 0 auto;
  padding: 30px;
  font-family: "Ubuntu", sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#cities-select {
  width: 103%;
  height: 50px;
  background-color: rgba(245, 245, 245, 0.4);
  display: block;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  color: black;
  margin-bottom: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.5cap;
}
#current-time {
  font-size: 45px;
  font-weight: bold;
  margin-top: 0px;
}
.time {
  font-size: 45px;
  font-weight: bold;
  margin-top: -25px;
}
.time small {
  font-size: 18px;
  vertical-align: middle;
}
.date {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 1cm;
}
.city-one-weather {
  display: flex;
  justify-content: space-between;
}
.weather-icon {
  font-size: 40px;
}
.weather-temperature {
  position: relative;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 30px;
}
.weather-degrees {
  margin-top: 30px;
}
.weather-description {
  text-transform: uppercase;
  color: rgb(95, 93, 93);
  font-weight: bold;
  font-size: 15px;
  margin-top: -10px;
  padding: 0px 10px 20px 20px;
}
.current-city {
  width: 100%;
  max-height: 200px;
  background-color: rgba(245, 245, 245, 0.4);
  display: block;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  font-family: "Ubuntu", sans-serif;
  border-bottom-style: dashed;
}
.city-current-details {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
}
.city-current-weather {
  display: flex;
}
.weather-temperature {
  margin-top: 30px;
}

#cityOne {
  width: 100%;
  max-height: 200px;
  background-color: rgba(245, 245, 245, 0.4);
  display: block;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  font-family: "Ubuntu", sans-serif;
  border-bottom-style: dashed;
}
.city-one-details {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
}
.city-one-weather {
  display: flex;
}
#cityTwo {
  width: 100%;
  max-height: 200px;
  background-color: rgba(245, 245, 245, 0.4);
  display: block;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  font-family: "Ubuntu", sans-serif;
  border-bottom-style: dashed;
}
.city-two-details {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
}
.city-two-weather {
  display: flex;
}
#cityThree {
  width: 100%;
  max-height: 200px;
  background-color: rgba(245, 245, 245, 0.4);
  display: block;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  font-family: "Ubuntu", sans-serif;
  border-bottom-style: dashed;
}
.city-three-details {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
}
.city-three-weather {
  display: flex;
}
.backlink {
  color: white;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin-top: 20px;
}
.backlink:hover {
  font-weight: bold;
}
footer {
  padding: 10px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
